#banner {
	$mask: linear-gradient(black, transparent);
	-webkit-mask-image: $mask;
	-webkit-user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	mask-image: $mask;
	transition: none;
	margin: 0;
	user-select: none;
}

.banner-margin {
	margin-top: 35vw;
}
