iframe {
	margin: 1rem auto;
	box-shadow: var(--edge-highlight), var(--shadow);
	border: none;
	border-radius: var(--rounded-corner);
	background-color: var(--fg-muted-1);
	width: 100%;
	max-width: 100%;

	&.youtube-embed,
	&.vimeo-embed {
		aspect-ratio: 16 / 9;
	}
}
