img,
video {
  border-radius: var(--rounded-corner);
  box-shadow: var(--shadow);
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}

img {
  transition: var(--transition-longer);

  &:not(.no-hover):hover {
    border-radius: 0;
    box-shadow: var(--shadow-raised);
    transform: scale(110%);
  }
}

.full {
  width: 100%;
}

.pixels {
  image-rendering: pixelated;
}

.transparent {
  border-radius: 0;
  box-shadow: none;
}
