#qrcode {
	background-color: white;
	float: right;
	height: 160px;
	margin: 3rem 0 0 1rem;
	padding: 6px;
	width: 160px;

	@media only screen and (max-width: 720px) {
		& {
			display: none;
		}
	}
}
