#qrcode {
  background-color: white;
  float: right;
  height: 155px;
  margin-left: 1rem;
  margin-top: 3rem;
  padding: 15px;
  width: 155px;

  @media screen and (max-width: 720px) {
    & {
      display: none;
    }
  }
}
