/* Typography */
@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique italic 0deg 10deg;
  src: url("../fonts/Inter.var.woff2?v=4.0") format("woff2");
}
