<nav class="site-nav">
  <div class="site-nav-container">
    <a class="site-nav-title" href="{{ config.base_url }}">
      {{ config.title }}
    </a>
    <ul>
      {% for link in config.extra.nav.links %}
        <li>
          <a href="{{ link.url }}">
            {% if link.icon %}
              <i class="bi bi-{{ link.icon }}"></i>
            {% endif %}
            {{ link.name }}
          </a>
        </li>
      {% endfor %}
      {% if config.extra.nav.show_feed %}
        <li>
          <a href="{{ config.base_url }}/atom.xml">
            <i class="bi bi-rss-fill"></i>
            Feed
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
