<header id="header">
  <nav>
    <a id="title" href="{{ get_url(path='') }}">
      <i class="bi bi-house"></i>
      <span>{{ config.title }}</span>
    </a>
    <ul>
      {% for link in config.extra.nav.links %}
      <li>
        <a href="{{ link.url | safe | replace(from='$BASE_URL', to=get_url(path='')) | safe }}">
          <i class="bi bi-{{ link.icon }}"></i>
          <span>{{ link.name }}</span>
        </a>
      </li>
      {% endfor %}
      {% if config.extra.nav.show_feed %}
      <li>
        <a href="{{ get_url(path='') }}/{{ config.feed_filename }}">
          <i class="bi bi-rss"></i>
          <span>Feed</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
