---
---

/* 

    Duckquill
    ====================

    based on OS Component Website which shamelessly stolen CSS from systemd
    https://github.com/jimmac/os-component-website
    https://github.com/systemd/systemd/tree/main/docs

*/

@import "variables";
@import "fonts";
@import "main";
@import "rouge-github";
@import "comments";
@import "custom";
