---
layout: default
---

<h1>{{ page.title }}</h1>

<small>
  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time>
  {% if page.tags %}
    {% if page.tags.size > 0 %}
      • {{ page.tags | join: ', ' }}
    {% endif %}
  {% endif %}
</small>

{% if page.archive %}
  <div class="highlighter-rouge statement-container archive">
    <h2>⚠ Archived</h2>
    {{ page.archive | markdownify }}
  </div>
{% endif %}

{% if page.trigger %}
  <div class="highlighter-rouge statement-container trigger">
    <h2>⚠ Trigger Warning</h2>
    {{ page.trigger | markdownify }}
  </div>
{% endif %}

{% if page.disclaimer %}
  <div class="highlighter-rouge statement-container disclaimer">
    <h2>⚠ Disclaimer(s)</h2>
    {{ page.disclaimer | markdownify }}
  </div>
{% endif %}

{% if page.toc %}
  <h2>Table of Contents</h2>
  {{ content | toc }}
{% else %}
  {{ content }}
{% endif %}

{%- if page.comments -%}
  {%- if page.comments.id -%}
    {%- include comments.html -%}
    <hr>
  {%- endif -%}
{%- endif -%}

{% if page.next %}
  <h2>Read Next</h2>
  <a href="{{ site.baseurl }}{{ page.next.url }}" class="page-link">
    {{ page.next.title }}
  </a>
{% endif %}

{% if page.previous %}
  <h2>Read Previous</h2>
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="page-link">
    {{ page.previous.title }}
  </a>
{% endif %}

<p class="dialog-buttons">
  <a href="#top" class="inline-button">Go to top</a>
  <a href="{{ site.issuesurl }}">File an issue</a>
</p>
